*{
    padding: 0;
    margin: 0;
}
.wrapper{
background: url(tg.jpg) no-repeat ;
background-size: cover;
height: 100vh;
}
.navbar{

   height: 12%;
   width: 100%;
   background: rgba(0,0,0,0.4 );
}
.logo{
    width: 140px;
    height: 80px;
    margin-bottom: 10px;
    padding-bottom: 20px;

}
.navbar ul{
    float: right;
    margin-right: 20px;

}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: wheat;
    font-size: 20px;
    padding: 7px;
    transition: .4s;
}
.navbar ul li a.active{
    background: tomato;
}
.navbar ul li a:hover{
   background: rgb(131, 78, 230);
   border-radius: 2px
}
.center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 885px;
    text-align: center;
    margin-top: 10px;
}
.buttn{
	margin: 35px 280px;
}
button{
    
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffb3b3;
	background: red;
	outline: none;
	cursor: pointer;
	border: 1px solid #cc0000;
	border-radius: 25px;
	transition: .4s;
}
.buttn .bt{
	margin-left: 25px;
}
.buttn button:hover{
	background: #cc0000;
}
.container{
    display: flex;
    justify-content: space-between;
    background: rgb(204, 203, 200);

}

.mid{
    display: inline-block;
    width: 25%;
    background-color: burlywood;
    /* border: 5px solid crimson; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 35px;
    padding: 25px;
    box-shadow: 15px 15px linen;
    }



div h1, p{
text-align: center;
}


.pr{
text-align: justify;
}
span{
color:darkmagenta;
font-size: 15px;
font-weight: 700;
}

img {
width: 100%;
}
#vlog-page-title{
    width: 50%;
    margin: auto;
    padding: 1%;
    text-align: center

}
#title-Text{
    font-size: 50px;
}
hr{
    border: 1px solid black;
}
.vlog-post-section{
    display: flex;
    justify-content: space-between; 
     width: 100%;
    text-align: center;
    margin-bottom: 2%;
    

}
.vlog-content{
    display: inline-block;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 12px;
    width: 55%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.vlog-article-container{
    background: white;
    padding :3% 5% 3%;
    margin-bottom: 2%;
}
#post-one {

    margin-right: 2%;
    margin-left: 2%;
}
#post-two {
    margin-right: 2%;
}
.vlog-article-upper{
    
    padding: 10px;
}

.vlog-article {
    width: 100%;
    text-align: justify;
}
.vlog-img {
    display: block;
    width: 100%;
    margin: auto;
    height: auto;
}
.vlog-author {
    font-size: 12px;
    display: block;
}
.vlog-article-upper {
    background-color: rgb(161, 120, 207);
    padding: 2% 1%;
}